<title>Jitsi Meet</title>
<meta property="og:title" content="{{ jitsi_meet_meta_title }}"/>
<meta property="og:image" content="images/jitsilogo.png?v=1"/>
<meta property="og:description" content="{{ jitsi_meet_meta_description }}"/>
<meta description="{{ jitsi_meet_meta_description }}"/>
<meta itemprop="name" content="{{ jitsi_meet_meta_title }}"/>
<meta itemprop="description" content="{{ jitsi_meet_meta_description }}"/>
<meta itemprop="image" content="images/jitsilogo.png?v=1"/>
<link rel="icon" href="images/{{ jitsi_favicon }}?v=1">
