---

dependencies:

  - role: aptiko.general.apache_vhost
    server_name: "{{ nextcloud_fqdn }}"
    document_root: "/var/www/{{ nextcloud_fqdn }}/nextcloud"
    ssl_extras: |
      SSLProxyEngine on
    letsencrypt: "{{ nextcloud_letsencrypt|default(nextcloud_fqdn) }}"
    force_ssl: true
    apache_use_awstats: false
    when: "'aptiko.general.apache' in ansible_role_names"

  - role: aptiko.general.nginx_site
    server_name: "{{ nextcloud_fqdn }}"
    document_root: "/var/www/{{ nextcloud_fqdn }}/nextcloud"
    letsencrypt: "{{ nextcloud_letsencrypt|default(nextcloud_fqdn) }}"
    force_ssl: true
    when: "'aptiko.general.nginx' in ansible_role_names"

galaxy_info:
  author: Antonis Christofides
  description: Ansible role for installing nextcloud on Debian/Ubuntu
  license: GPLv3
  min_ansible_version: "2.19"
