---
- name: Setup mail_smtpmode
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_smtpmode
    # Technically mail_smtpmode should be a string. However it's easy to make
    # the error and write "mail_smtpmode: null", which is the YAML null constant
    # and not the string "null", and which is accepted without error or warning.
    # To avoid confusion we treat both the null constant and the string "null"
    # as the string "null".
    line: "  'mail_smtpmode' => '{{ 'null' if nextcloud_mail_smtpmode is none else nextcloud_mail_smtpmode }}',"
    insertbefore: '^\s*\);\s*$'

- name: Setup mail_from_address
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_from_address
    line: "  'mail_from_address' => '{{ mail_from_address }}',"
    insertbefore: '^\s*\);\s*$'
  when: nextcloud_mail_smtpmode is not none and nextcloud_mail_smtpmode != 'null'

- name: Setup mail_domain
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_domain
    line: "  'mail_domain' => '{{ mail_domain }}',"
    insertbefore: '^\s*\);\s*$'
  when: nextcloud_mail_smtpmode is not none and nextcloud_mail_smtpmode != 'null'

- name: Setup mail_sendmailmode
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_sendmailmode
    line: "  'mail_sendmailmode' => 'smtp',"
    insertbefore: '^\s*\);\s*$'
  when: nextcloud_mail_smtpmode == 'sendmail'

- name: Setup mail_smtphost
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_smtphost
    line: "  'mail_smtphost' => 'localhost',"
    insertbefore: '^\s*\);\s*$'
  when: nextcloud_mail_smtpmode is not none and nextcloud_mail_smtpmode != 'null'

- name: Setup mail_smtpport
  become: true
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: mail_smtpport
    line: "  'mail_smtpport' => '25',"
    insertbefore: '^\s*\);\s*$'
  when: nextcloud_mail_smtpmode is not none and nextcloud_mail_smtpmode != 'null'
