---
- name: Install apt packages required for nextcloud
  ansible.builtin.apt:
    name:
      - unzip
      - php
      - php-fpm
      - php-curl
      - php-gd
      - php-json
      - php-mbstring
      - php-xml
      - php-zip
      - php-bz2
      - php-intl
      - php-ldap
      - php-mysql
      - php-gmp
      - php-bcmath
      - php-imagick
      - redis-server
      - php-redis
      - python3-pymysql

- name: Start Redis
  ansible.builtin.service:
    name: redis
    state: started

- name: Set PHP memory limit
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^memory_limit\s*='
    line: memory_limit = {{ nextcloud_php_memory_limit }}
  notify:
    - Restart php-fpm

- name: Set PHP upload_max_filesize
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^upload_max_filesize\s*='
    line: upload_max_filesize = {{ nextcloud_php_upload_max_filesize }}
  notify:
    - Restart php-fpm

- name: Set PHP post_max_size
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^post_max_size\s*='
    line: post_max_size = {{ nextcloud_php_post_max_size }}
  notify:
    - Restart php-fpm

- name: Set PHP max_execution_time
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^max_execution_time\s*='
    line: max_execution_time = {{ nextcloud_php_max_execution_time }}
  notify:
    - Restart php-fpm

- name: Set opcache.interned_strings_buffer
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^;?opcache.interned_strings_buffer\s*='
    line: opcache.interned_strings_buffer = {{ nextcloud_opcache_interned_strings_buffer }}
  notify:
    - Restart php-fpm

- name: Install nextcloud
  ansible.builtin.unarchive:
    creates: /var/www/{{ nextcloud_fqdn }}/nextcloud/index.php
    src: "{{ nextcloud_download_url }}"
    dest: /var/www/{{ nextcloud_fqdn }}
    remote_src: true
    owner: www-data
    group: www-data

- name: Check which databases exist
  community.mysql.mysql_info:
    login_host: "{{ nextcloud_mysql_fqdn }}"
    login_user: root
    login_password: "{{ mysql_root_password }}"
    filter:
      - databases
    exclude_fields: db_size
  check_mode: false
  changed_when: false
  register: check_databases

- name: Setup nextcloud
  become: true
  become_user: www-data
  ansible.builtin.command:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud
    cmd: >
      php occ maintenance:install --database-host={{ nextcloud_mysql_fqdn }}
      --database=mysql --database-name=nextcloud
      --database-user=root --database-pass={{ mysql_root_password }}
      --admin-user={{ nextcloud_admin_user }}
      --admin-pass={{ nextcloud_admin_user_password }}
  when: '"nextcloud" not in check_databases["databases"]'
  changed_when: true

- name: Import configuration tasks
  ansible.builtin.import_tasks: configure_general.yml

- name: Setup trashbin_retention_obligation
  # Deleted Files apps retention
  become: yes
  become_user: www-data
  lineinfile:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    regexp: trashbin_retention_obligation
    line: "  'trashbin_retention_obligation' => 'auto, 35',"
    insertbefore: '^\s*\);\s*$'
  when: "'deletedfiles' in nextcloud_apps"
  notify:
    - Restart php-fpm

- name: Check whether background jobs scheduler is set to cron
  become: true
  become_user: www-data
  ansible.builtin.shell:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud
    cmd: php occ config:list core --output=plain | grep backgroundjobs_mode | awk '{ print $3 }'
  check_mode: false
  ignore_errors: true
  changed_when: false
  register: check_background_jobs

- name: Set background jobs scheduler to cron
  become: true
  become_user: www-data
  ansible.builtin.command:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud
    cmd: php occ background:cron
  when: check_background_jobs.stdout != "cron"
  changed_when: true

- name: Add nextcloud cron job
  ansible.builtin.copy:
    dest: /etc/cron.d/nextcloud
    content: "{{ nextcloud_cron_schedule }} www-data php -f /var/www/{{ nextcloud_fqdn }}/nextcloud/cron.php\n"
    mode: "0644"

- name: Turn off PHP output_buffering (required by Nextcloud)
  ansible.builtin.lineinfile:
    path: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: "^output_buffering ="
    line: "output_buffering = Off"
  notify:
    - Restart php-fpm

- name: Setup php-fpm for nextcloud
  ansible.builtin.template:
    src: fpm-nextcloud.conf
    dest: /etc/php/{{ php_version }}/fpm/pool.d/nextcloud.conf
    mode: "0644"
  notify:
    - Restart php-fpm

- name: Setup apache for nextcloud
  ansible.builtin.template:
    src: apache-nextcloud.conf
    dest: /etc/apache2/snippets/{{ nextcloud_fqdn }}/nextcloud.conf
    mode: "0644"
  when: "'aptiko.general.apache' in ansible_role_names"
  notify:
    - Restart apache

- name: Activate apache proxy_fcgi
  community.general.apache2_module:
    state: present
    name: proxy_fcgi
  when: "'aptiko.general.apache' in ansible_role_names"
  notify:
    - Restart apache

- name: Setup global nginx configuration for nextcloud
  ansible.builtin.template:
    src: nginx-global-nextcloud.conf
    dest: /etc/nginx/conf.d/nextcloud.conf
    mode: "0644"
  when: "'aptiko.general.nginx' in ansible_role_names"
  notify:
    - Reload nginx

- name: Setup nginx site configuration for nextcloud
  ansible.builtin.template:
    src: nginx-nextcloud.conf
    dest: /etc/nginx/snippets/{{ nextcloud_fqdn }}/nextcloud.conf
    mode: "0644"
  when: "'aptiko.general.nginx' in ansible_role_names"
  notify:
    - Reload nginx

- name: Install nextcloud apps
  become: true
  become_user: www-data
  ansible.builtin.shell: set -o pipefail && echo '{{ nextcloud_admin_user_password }}' | php occ app:install {{ item }}
  args:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud/
    creates: /var/www/{{ nextcloud_fqdn }}/nextcloud/apps/{{ item }}
    executable: /bin/bash
  loop: "{{ nextcloud_apps }}"

- name: Check whether collabora online server address has been set
  become: true
  become_user: www-data
  ansible.builtin.command:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud/
    cmd: php occ config:app:get richdocuments wopi_url
  when: '"richdocuments" in nextcloud_apps'
  check_mode: false
  ignore_errors: true
  changed_when: false
  register: check_collabora_url

- name: Setup collabora online server address
  become: true
  become_user: www-data
  ansible.builtin.command:
    chdir: /var/www/{{ nextcloud_fqdn }}/nextcloud/
    cmd: php occ config:app:set --value https://{{ collabora_fqdn }} richdocuments wopi_url
  when: '"richdocuments" in nextcloud_apps and check_collabora_url.stdout != "https://" ~ collabora_fqdn'
  changed_when: true
  notify:
    - Activate richdocuments config

- name: Create background worker service for Nextcloud Assistant
  ansible.builtin.template:
    src: nextcloud-assistant-background-worker.service
    dest: '/etc/systemd/system/nextcloud-assistant-background-worker@.service'
    mode: "0644"
  when: nextcloud_assistant_background_worker

- name: Enable background worker service for Nextcloud Assistant
  ansible.builtin.systemd:
    name: 'nextcloud-assistant-background-worker@{{ item }}.service'
    enabled: true
    state: started
    daemon-reload: true
  loop: [1, 2, 3, 4]
  when: nextcloud_assistant_background_worker

- name: Import MySQL configuration tasks
  ansible.builtin.import_tasks: configure_mysql_tls.yml

- name: Import email configuration tasks
  ansible.builtin.import_tasks: configure_email.yml
