---
- name: Check that a valid URL has been passed
  ansible.builtin.assert:
    that:
      - nextcloud_download_url is defined
      - nextcloud_download_url | regex_search('^http.*/[^/]*\\d+\\.\\d+\\.\\d+(-enterprise)?\\.zip$')
    fail_msg: >
      The variable nextcloud_download_url is not a valid Nextcloud package
      download URL.  Note that it must point to a specific version and not
      vaguely to the "latest" or something. Specify it as in this example:
      ansible-playbook site.yml --tags nextcloud_upgrade -e nextcloud_download_url=https://download.nextcloud.com/server/releases/nextcloud-23.0.9.zip

- name: Get existing Nextcloud version
  ansible.builtin.command: "php /var/www/{{ nextcloud_fqdn }}/nextcloud/occ --version"
  become: true
  become_user: www-data
  register: existing_version
  check_mode: false
  ignore_errors: true
  changed_when: false

- name: Get new Nextcloud version
  ansible.builtin.set_fact:
    new_version: "{{ nextcloud_download_url | regex_search('.*/(.*)\\.zip', '\\1') | first }}"

- name: Wait for confirmation
  ansible.builtin.pause:
    prompt: >
      This will replace {{ existing_version.stdout }} with {{ new_version }}.
      Press Enter to continue or (Ctrl+C, a) to abort.

- name: Check whether /tmp/nextcloud.cron exists
  ansible.builtin.stat:
    path: /tmp/nextcloud.cron
  register: stat_tmp_nextcloud_cron

- name: Check whether /tmp/nextcloud exists
  ansible.builtin.stat:
    path: /tmp/nextcloud
  register: stat_tmp_nextcloud

- name: Check whether /tmp/nextcloud.old exists
  ansible.builtin.stat:
    path: /tmp/nextcloud.old
  register: stat_tmp_nextcloud_old

- name: Get filesystem of /tmp
  ansible.builtin.stat:
    path: /tmp
  register: stat_tmp

- name: Get filesystem of the nextcloud directory
  ansible.builtin.stat:
    path: /var/www/{{ nextcloud_fqdn }}/nextcloud/data
  register: stat_nextcloud_data

- name: Check that no relics of previous upgrade exist
  ansible.builtin.assert:
    that:
      - not stat_tmp_nextcloud_cron.stat.exists
      - not stat_tmp_nextcloud.stat.exists
    fail_msg: >
      Either /tmp/nextcloud or /tmp/nextcloud.cron exists. This likely
      means that a previous upgrade attempt failed. Refusing to run
      until you sort it out.

- name: Check that /tmp/nextcloud.old does not exist
  ansible.builtin.assert:
    that:
      - not stat_tmp_nextcloud_old.stat.exists
    fail_msg: >
      /tmp/nextcloud.old exists. This may be normal; /tmp/nextcloud.old
      may be a leftover of a previous upgrade. Still, just to be sure,
      you have to manually move it out of there before I resume.

- name: Check that /tmp and the nextcloud directory are on same filesystem
  ansible.builtin.assert:
    that:
      - stat_tmp.stat.dev == stat_nextcloud_data.stat.dev
    fail_msg: >
      The Nextcloud upgrade procedure assumes that /tmp and
      /var/www/{{ nextcloud_fqdn }}/nextcloud/data are on the same
      filesystem. This appears to not be the case here.

- name: Deactivate nextcloud cron
  ansible.builtin.command: mv /etc/cron.d/nextcloud /tmp/nextcloud.cron
  changed_when: true

- name: Download and unzip Nextcloud
  ansible.builtin.unarchive:
    remote_src: true
    src: "{{ nextcloud_download_url }}"
    dest: /tmp
    owner: www-data
    group: www-data

- name: Copy the config.php file
  ansible.builtin.copy:
    remote_src: true
    src: /var/www/{{ nextcloud_fqdn }}/nextcloud/config/config.php
    dest: /tmp/nextcloud/config/
    mode: "0644"
  become: true
  become_user: www-data

- name: Stop php-fpm
  ansible.builtin.service:
    name: php{{ php_version }}-fpm
    state: stopped

- name: Move out the old nextcloud directory
  ansible.builtin.command: mv /var/www/{{ nextcloud_fqdn }}/nextcloud /tmp/nextcloud.old
  changed_when: true

- name: Move in the new nextcloud directory
  ansible.builtin.command: mv /tmp/nextcloud /var/www/{{ nextcloud_fqdn }}/
  changed_when: true

- name: Move the data directory to the new installation
  ansible.builtin.command:
    cmd: mv /tmp/nextcloud.old/data /var/www/{{ nextcloud_fqdn }}/nextcloud/data
  become: true
  become_user: www-data
  changed_when: true

- name: Start php-fpm
  ansible.builtin.service:
    name: php{{ php_version }}-fpm
    state: started

- name: Perform upgrade
  ansible.builtin.command:
    cmd: "php occ upgrade"
    chdir: "/var/www/{{ nextcloud_fqdn }}/nextcloud"
  become: true
  become_user: www-data
  changed_when: true

- name: Re-enable cron
  ansible.builtin.command: mv /tmp/nextcloud.cron /etc/cron.d/nextcloud
  changed_when: true
